
body{
  background-color: rgba(255, 250, 246, 0.462);
}

 

.aligntab{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background: linear-gradient(356deg, rgb(255, 189, 244) 0%, rgb(245, 244, 184) 100%);
	background-attachment: fixed;
}

.form{
    margin:50px auto;
}


table,tr,td{
    border:2px black solid;
    border-radius: 6px;
    border:2px rgb(0, 0, 0) solid;
}

/* TABLE WALL OF FAME */
table{
    margin: 65px auto 0px;
    border-radius: 1em 1em 1em 1em;
    border:8px rgb(255, 189, 158)solid;
    background-color: rgb(0, 0, 0);
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}

a{
color: white;
text-decoration: none;
}

/* TABLE PROFIL */
#main-profil{
	height: 90%;
	background: linear-gradient(356deg, rgb(255, 189, 244) 0%, rgb(245, 244, 184) 100%);
	background-attachment: fixed;

}
.tableprofil{
  margin: 30px 0px 0px 0px;
  border-radius: 1em 1em 1em 1em;
  border:8px rgb(255, 145, 101)solid;
  background-color: rgb(0, 0, 0);
  -webkit-box-shadow: 5px 5px 15px 5px #000000; 
  box-shadow: 5px 15px 15px 5px #7c7575,5px 5px 15px 5px #000000f3,5px 5px 15px 5px #000000cc,5px 5px 15px 5px #00000064,5px 5px 15px 5px #00000048,5px 5px 15px 5px #00000017;
  z-index: 100000000000000;
}


.thead{
  font-size:21px;
  font-weight: bold;
  background-color: rgb(253, 188, 127);
}

.num{
  font-size:large;
}

.num1{
  font-size:large;
  background-color: rgb(216, 255, 176);
}
.num1bis{
  font-size:large;
  background-color: rgb(255, 244, 175);
}

.col{
  color:white;
}

.col1{
  color:white;
  font-size: x-large;
}

td{
  padding: 5px 12px 5px 12px;
  border-radius: 6px;
  text-align: center;

}


/* MENU DEROULANT CLASSEMENT NIVEAU */

#menu-accordeon {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
    width: 180px;
  }
  #menu-accordeon ul {
    padding:0;
    margin:0;
    list-style:none;
    text-align: center;
  }
  #menu-accordeon li {
     background-image: linear-gradient(to bottom, rgb(226, 90, 72) 0%, rgb(52, 71, 90) 100%);
     border-radius: 6px;
     margin-bottom:2px;
     border:solid 1px #333A40;
  }
  #menu-accordeon li li {
     max-height:0;
     overflow: hidden;
     transition: all .5s;
     border-radius:0;
     box-shadow: none;
     border:none;
     margin:0;
     background: rgb(226, 90, 72);

  }
  #menu-accordeon a {
    display:block;
    text-decoration: none;
    color: #fff;
    padding: 8px 0;
    font-family: verdana;
    font-size:1.2em;
  }
  #menu-accordeon ul li a, #menu-accordeon li:hover li a {
    font-size:1em;
  }
  #menu-accordeon li:hover {
     background: rgb(226, 90, 72);
  }
  #menu-accordeon li li:hover {
     background: #999;
  }
  #menu-accordeon ul li:last-child {
     border-radius: 0 0 6px 6px;
     border:none;
  }
  #menu-accordeon li:hover li {
    max-height: 15em;
  }
  .user
  {
  	color:red;
  	animation: user 1s infinite;
  }
  @keyframes user {
  from {color: yellow;}
  to {color:red;}
}